.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 231, 231);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navbar-box1{
    width: 65%;
}
.navbar-box2{
    width: 35%;
    display: flex;
    padding-top: .7rem;
    flex-direction: row;
}
.navbar-title{
    padding-left: 5rem;
    font-size: larger;
    font-weight: bolder;
}
.title2{
    font-size: larger;
    font-weight: bolder;
    margin-left: 3rem;
}
.nav-img{
    width: 10rem;
    height: 5rem;
    padding-left: 3rem;
    object-fit: contain;
}
